:root {
    --green-from-background: #2d4628;
    --yellow-from-background: #ff9b00;
    --white-from-background: #e2dbd1;
    --logo-color: var(--white-from-background);
    --sidebar-width: 33%;
    --content-padding-left: 50px;
    --content-padding-right: calc(100% - (var(--content-padding-left) + 45ch));
    --content-gap: 35px;
}

@font-face {
    font-family: "Frog Toad";
    src: url("fonts/FrogToad-EaDer.otf") format("opentype");
    font-weight: normal;
}

html {
    background-color: black;
}

main {
    width: 75vw;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: row;
}

#image-sidebar {
    background-image: url(images/whitelily.jpg);
    color: var(--logo-color);
    height: 100%;
    width: var(--sidebar-width);
    min-width: 325px;
    background-size:cover;
    display: flex;
    flex-direction: column;
}

#image-sidebar a:visited {
    color: var(--logo-color);
}
#logo img {
    --frog-size: 8rem;
    width: var(--frog-size);
    height: var(--frog-size);

}

#logo {
    height: 10rem;
    background-color: rgba(0,0,0,0.3);
    margin-top: calc(100vh * 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logo h1 {
    font-family: "Frog Toad";
    font-size: 4rem;
}

#photo-credit {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;
}

#content {
    width: clamp(625px, calc(100% - var(--sidebar-width)));
    height: 100%;
    background-color: var(--white-from-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--content-gap);
    font-family: Roboto, sans-serif;
    font-size: 28px;
}

#formintro {
    width: 100%;
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    min-width: 660px;
}
#formarea {
    width: 100%;
    background-color: whitesmoke;
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
    box-sizing: border-box;
    box-shadow: 1px 2px 3px rgb(172, 174, 177);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

#formarea p {
    margin:0;
}
#row1, #row2, #row3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(20ch + 50px);
    gap: 50px;
}

#formfooter {
    width:100%;
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
    box-sizing: border-box;
}

input {
    padding: 5px;
    border: solid 1px #E5E7EB;
    font-size: 20px;
}

input:focus {
    outline-color: var(--yellow-from-background);
    box-shadow: 1px 2px 3px rgb(172, 174, 177);

}

label, #passwordmatch {
    font-size: small;
}

#passwordmatch {
    color: red;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
}

#password:invalid, 
#confirmpassword:invalid {
    border: 1px solid red;
}

#password:valid,
#confirmpassword:valid {
    border: solid 2px rgb(5, 199, 5);
}

#createaccount {
    background-color: var(--green-from-background);
    color: white;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;

}

#formfooter p {
    font-size: 20px;
}

#loginlink {
    color: var(--green-from-background);
    font-weight: bold;
    text-decoration: none;
} 

#loginlink:hover {
    color: var(--yellow-from-background);
}